<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        failOnRisky="true"
        failOnWarning="true"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="FastRoute Attributes Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
